/EffectBuilder.class
/attackEffect.class
/blockEffect.class
/penetratingAttackEffect.class
/penetrateBlockAttackEffect.class
/useupEffect.class
/bashEffect.class
/minusArmorEffect.class
/cleaveAttackEffect.class
/fireSpellEffect.class
/poisonEffect.class
/poisonAttackEffect.class
/blockablePoisonEffect.class
/penetrateArmorAttackEffect2.class
/penetrateArmorAttackEffect.class
/concentrateEffect.class
/healEffect.class
/cureBleedEffect.class
/compositeFireEffect.class
/compositeColdEffect.class
/blockableBleedEffect.class
/missileSpellEffect.class
/armorEffect.class
/armorSpellEffect.class
/strengthSpellEffect.class
/blockTeamEffect.class
/allResistSpellEffect.class
/targetAllEnemiesEffect.class
/cardDrawEffect.class
/manaBuffEffect.class
/coldSpellEffect.class
/lightningSpellEffect.class
/fireBallEffect.class
/addCardToTargetDeckEffect.class
/resistableSpellEffect.class
/thornSpellEffect.class
/regenerationBuffEffect.class
/regenerationSpellEffect.class
/targetAllAlliesEffect.class
/targetAllAlliesOfTargetEffect.class
/accuracyEffect.class
/targetSelfEffect.class
/ramEffect.class
/modifyStatEffect.class
/modifyStatSpellEffect.class
/magicSpellEffect.class
