/RaceGoblin$GoblinArcher.class
/RaceGoblin$GoblinWarrior.class
/RaceGoblin.class
/RaceZombie$GoblinArcher.class
/RaceZombie$GoblinWarrior.class
/RaceZombie.class
/RaceZombie$ZombieArcher.class
/RaceZombie$ZombieWarrior.class
/RaceZombie$Moaning.class
/RaceZombie$ZombieClaw.class
