/TypeCleric.class
/TypeDwarf.class
/TypeElf.class
/TypeHalfling.class
/TypeHuman.class
/TypeMage.class
/TypeThief.class
/TypeWarrior.class
/TypeGoblin.class
/RaceElf.class
/RaceDwarf.class
/RaceGoblin.class
/RaceHalfling.class
/RaceHuman.class
/Weakling.class
