/ItemHead.class
/ItemConsumable.class
/HealingPotion.class
/ExperienceBook.class
/ItemValuable.class
/Emerald.class
/PotionOfStrength.class
/PotionOfVitality.class
/PotionOfDexterity.class
/PotionOfIntelligence.class
/AntiVenom.class
/Bandages.class
/EnergyPotion.class
