/bashed.class
/Bashed.class
/Blazing.class
/minusArmor.class
/Concentrated.class
/ArmorBuff.class
/StrengthBuff.class
/allResistBuff.class
/ChannelBuff.class
/ManaBonusBuff.class
/ThornBuff.class
/RegenerationBuff.class
/AccuracyBuff.class
/statModifyBuff.class
