/Backpack.class
/BattleGround.class
/Card.class
/Deck.class
/Equipment.class
/Fight.class
/Hero.class
/Inventory.class
/Item.class
/TestMain.class
/ItemDescription.class
/ModableHeroAttributes.class
/ModableHeroStats.class
/Fight$1.class
