/QuestReturnRelic.class
/QuestRelic.class
/QuestReturnRelic$QuestRelic.class
/KillANecromancer$QuestRelic.class
/KillANecromancer.class
/TestQuest$QuestRelic.class
/TestQuest.class
/QuestLongReturnRelic$QuestRelic.class
/QuestLongReturnRelic.class
