/Block.class
/Cleave.class
/MeeleAttack.class
/BasicAttack.class
/FightSleep.class
/SleepCharm.class
/SleepCharm$Sleepy.class
/DivineGrace.class
/Wisdom.class
/Channel.class
/Channel$ChannelBuff.class
/Spell$Sleepy.class
/Spell.class
/SpellnoTarget.class
/CarefulSlash.class
/BackStab.class
