/Armor.class
/ArmorThinLeather.class
/Buckler.class
/MainHandShortSword.class
/OffhandBuckler.class
/ShortSword.class
/BodyItem.class
/ItemBody.class
/ItemHead.class
/ItemHand1.class
/ItemHead2.class
/ItemHand2.class
/ItemBiHand.class
/CrownOfThorns.class
/HeavySword.class
/Unarmed.class
/PlateArmor.class
