/Animation.class
/AnimationHandler.class
/FriendlyAnimation.class
/AttackAnimation.class
/Animation$MyThread.class
/GettingHitAnimation.class
/AttackingAnimiation.class
/AttackingAnimation.class
/GettingShockedAnimation.class
