/Strong.class
/Weak.class
/Bleeder.class
/Stresser.class
/OneEyed.class
/SlugBrained.class
/Snippet.class
/Aggressive.class
/Tender.class
/Defensive.class
/Tough.class
/Hary.class
/Hairy.class
/SubstanceAbuser.class
/Hasty.class
/Thoughtfull.class
/SimpleMinded.class
/Sleeper.class
/Enchanter.class
/Talented.class
