/Shop.class
/StandardCorpse.class
/Well.class
/Tavern.class
/SpikeTrap.class
/SpikeTrap$1.class
/SpikeTrap$2.class
/ItemOnGround.class
/Chest.class
/QuestBoard.class
/Trap.class
/PoisonTrap.class
/Sack.class
/EvilStatue.class
/SleepingOgre.class
/HayHeap.class
/MedicineMan.class
/Altar.class
/TeleportStone.class
/AncientTome.class
/UndeadCorpse.class
/SeekingHero.class
/PotionShelf.class
/MedicineMan$medicineManQuestRatFur.class
/Portal.class
